@charset "utf-8";



.inner {
    width: 1400px;
    margin: 0 auto;
}


/* header */
header {
    height: 100px;
    background-color: #002F6C;
    position: relative;
}

header .inner {
    position: relative;
}

header h1 {
    width: 200px;
    height: 85px;
    padding-top: 10px;
}

header h1 img {
    width: 100%;
}


header .gnb {
    position: absolute;
    top: 0;
    left: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header .gnb>li {
    text-align: center;
    position: relative;
    line-height: 100px;
    padding: 0 40px;
    transition: all 0.5s;
}

header .gnb>li:hover {
    background-color: #fff;
}

header .gnb>li>a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
}

header .gnb>li:hover>a {
    color: #002F6C;
}

header .gnb>li .depth2 {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100%;
    transform: translate(-50%);
    background-color: #002F6C;
    border-radius: 0 0 10px 10px;
    display: none;
    z-index: 99;
}

header .gnb>li:hover .depth2 {
    display: block;
}

header .gnb>li .depth2>li {
    padding: 10px 0;
    text-align: center;
    line-height: 1.35;
}

header .gnb>li .depth2>li:last-child {
    padding-bottom: 20px;
}

header .gnb>li .depth2 li a {
    color: #fff;
}

header .gnb>li .depth2>li:hover a {
    color: #FFAB00;
}

header .inner .utill {
    display: block;
    position: absolute;
    top: 35px;
    right: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
}

header .inner .utill:hover {
    color: #002F6C;
    background-color: #fff;
}



/* footer */

footer {
    background-color: #002F6C;
    padding: 100px 0;
}

footer .inner {
    display: flex;
    justify-content: space-between;
}

footer .f-txt address ul {

    display: flex;
    gap: 100px;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 15px;
}

footer .f-txt address ul:nth-child(2) {
    gap: 160px;
}

footer .f-txt .copy p {
    color: #fff;
    opacity: 0.8;
}

footer .sns ul {
    display: flex;
    gap: 20px;
    transform: translateY(250%);
}


.top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: #002F6C url(../img/top.png) no-repeat center;
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    z-index: 999;
}

.fixed {
    z-index: 999;
    width: 64px;
    height: 250px;
    position: fixed;
    right: 5%;
    top: 40%;
}

.fixed li {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    background-color: #002F6C;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.fixed li img {
    display: block;
    margin: 0 auto 5px;
}

.fixed li a {
    color: #fff;
    font-size: 12px;
    text-align: center;

}