@charset "utf-8";

html{font-size: 10px;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "AvenirNextLTPro","NanumSquare",sans-serif;
    font-size: 1.6rem;
    color: #333;
    line-height: 1.35;
}

a{
    color: #333;
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

address,em{
    font-style: normal;
}

img{
    vertical-align: top;
    border: 0;
}

table{
    border-collapse:collapse ;
    width: 100%;
}

caption,legend{
    display: none;
}
select,input,fieldset{
    vertical-align: top;
    border: 0;
}
input{
    outline: none;
}
